<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Formulario de registro</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form id="contactForm" class="example-form" [formGroup]="userForm" (ngSubmit)="submit()">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nombre" formControlName="nombre" class="form-control" name="nombre">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Departamento</mat-label>
                            <mat-select formControlName="iddepto" (selectionChange)="municipios($event.value)">
                                <mat-option *ngFor="let food of deptos" [value]="food.id">
                                    {{food.departamento | titlecase}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Municipio</mat-label>
                            <mat-select formControlName="idmcpio">
                                <mat-option *ngFor="let food of mcpios" [value]="food.id">
                                    {{food.municipio}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <input matInput placeholder="email" formControlName="email" class="form-control" name="email">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Choose a date</mat-label>
                            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="fecha">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                        </mat-form-field>

                        <br>
                        <br>
                        <button id="btnSubmit" mat-raised-button type="submit" color="primary">Submit</button>
                    </form>
                </mat-card-content>
            </mat-card>
            <br>
            <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="mensaje" class="alert alert-success alert-dismissible fade show" role="alert">
                {{mensaje}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            <button class="btn btn-danger" (click)="borrarItems(  ) ">
                            Borrar items seleccionados
                            </button>
                        </th>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha de creación</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Municipio</th>
                        <th scope="col">Opciones</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usuarios; let i = index">
                        <th>
                            <input type="checkbox" [checked]="itemdel[i]" (change)="checkChange(i,user.id_registro)">

                        </th>
                        <th scope="row">{{user.id_registro}}</th>
                        <td>{{user.nombre}}</td>
                        <td>{{user.fecha}}</td>
                        <td>{{user.correo}}</td>
                        <td>{{user.departamento}}</td>
                        <td>{{user.municipio}}</td>
                        <td><button class="btn btn-danger" (click)="borrarItem( user, i ) ">
                            <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!--<strong>{{form.value.lastname}} </strong>
<br>

<br>
<strong>{{form.value.message}} </strong>-->